@model dynamic
@{
    ViewData["Title"] = "Product";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/product-page.css")">
}


    <div class="product-container">
        <img class="product" src="@(Model.Shoe.PictureUrl)" />
        <div class="product-description">
            <br>
            <p>@Model.Shoe.Description</p>
        </div>
        <div class="product-info">
            <h2>@Model.Shoe.Name</h2>
            <h3>@($"{Model.Shoe.Price:c}")</h3>
            <form action="/Checkout" method="post" id="form-container">
                <div class="right-top-container">
                    <label for="size" class="size-label">Size &nbsp;</label>
                    <select name="size" id="size" class="product-select">
                        @for (int i = 0; i < Model.Shoe.Sizes.Count; i++)
                        {
                            <option value=@Model.Shoe.Sizes[i].Size>@($"{Model.Shoe.Sizes[i].Size}")</option>

                        }

                    </select>
                </div>
                <div class="right-bottom-container">
                    <a href="#" id="size-chart">Size Chart</a>
                    <input type="hidden" name="shoeId" value="@Model.Shoe.Id" />
                    <input type="submit" formaction="/Checkout" class="buy-button" name="Submit" value="Buy Now">
                </div>
            </form>
        </div>
    </div>
    <div class="modal" id="modalContainer">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg" src="https://i.imgur.com/PgPnm52.png" />
    </div>

@section Scripts {
    <script src="~/js/popup.js"></script>
} 