@model ShoppingCartViewModel


@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/css/checkout.css")">
}

<h3 id="header-text">Cart</h3>
<h5 id="selected-products">Selected products</h5>
<div class="main-checkout-container">
    <section class="checkout-container">
        <div class="selectedProducts-container">
            <div class="product-container">
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <div id="" class="product-item">
                        <div class="product-item-left">
                            <p class="product-name">@item.Shoe.Name</p>
                            <p class="product-size">Size: @item.Size</p>
                            <img src="@item.Shoe.PictureUrl" class="product-image-top" />
                        </div>
                        <div class="product-item-right">
                            <p class="product-price">@item.Shoe.Price SEK</p>
                            <button id="" class="productDetails-btn">Details</button>
                        </div>
                    </div>
                    <hr>
                    <div class="checkout-details-container hidden">
                        <div class="details-box">
                            <div class="details-product-description">@item.Shoe.Description</div>
                            <img src="@item.Shoe.PictureUrl" class="details-product-image" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>
<form action="/Checkout" method="post" id="form-container">
    <input type="submit" formaction="/Checkout" class="buy-button" name="Submit" value="Checkout">
    </form>


    @section Scripts{
        <script src="@Url.Content("~/js/checkout.js")"></script>
    }
